h1 {
    color: purple;
    background-color: lightblue;
    text-align: center;
    font-size: 50px;
}

.home-directory {
    font-size: 25px;
    text-align: center;
    background-color: lightblue;
}

a {
    
}